.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter img {
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 26px;
  font-family: 'Arial Black';
  font-weight: 700;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
  background: red;
}

.arena___health-bar {
  height: 100%;
  width: 100%;
  background-color: #28f70c;
}

#crit {
  margin: auto;
  color: #ff0000;
  font-size: 50px;
  font-weight: bolder;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: 2px 2px 30px white;
}

.arena___crit-fighter-indicator {
  width: 20em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___crit-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
  background: none;
}

.arena___crit-bar {
  height: 100%;
  width: 100%;
  background-color: #fcf700;
}

.crit-header {
  font-weight: bolder;
  color: #e000cf;
  font-size: 3em;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

#left-arena___crit-fighter-indicator {
  position: relative;
  right: 18em;
}

#right-arena___crit-fighter-indicator {
  position: relative;
  left: 18em;
}
