.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

ul {
  list-style-type: none;
  position: relative;
  top: 1em;
}

ul > li {
  color: #f3f304;
  font-weight: bolder;
  font-size: 1.5em;
  -webkit-text-stroke-color: #000;
  -webkit-text-stroke-width: 0.5px;
}

.fighter-preview___img {
  max-width: 100%;
  max-height: 700px;
  object-fit: contain;
}
