.modal-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 /50%);
}

.modal-root {
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 300px;
  padding: 1rem;
  font-weight: 700;
  font-size: 3rem;
  font-family: 'Reggae One', cursive;
  color: black;
  -webkit-text-fill-color: red;
  -webkit-text-stroke-width: 0.3px;
}

.modal-body {
  padding: 1rem;
}

.close-btn {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  position: relative;
  right: 220px;
  border: none;
  top: 780px;
  background: none;
}

.winner {
  position: relative;
  left: 130px;
}
